<br><br><br><br>
<div class="stylish-text"><span class="stylish-text">Delivrance de Cartes Prépayées</span></div><br>
<div class="checkbox-container">
    <div class="checkbox-wrapper-46">
      <input type="checkbox" id="cbx-46" class="inp-cbx" (change)="toggleForm('form1', $event)" />
      <label for="cbx-46" class="cbx">
        <span>
          <svg viewBox="0 0 12 10" height="10px" width="12px">
            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
          </svg>
        </span>
        <span>Unitaire</span>
      </label>
    </div>
    <div class="checkbox-wrapper-4">
      <input type="checkbox" id="cbx-4" class="inp-cbx" (change)="toggleForm('form2', $event)" />
      <label for="cbx-4" class="cbx">
        <span>
          <svg viewBox="0 0 12 10" height="10px" width="12px">
            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
          </svg>
        </span>
        <span>En masse</span>
      </label>
    </div>
  </div>
  <br><br>
  <div class="checkbox-container">
  <div *ngIf="showForm1" class="form-container">
    
      <form class="form" #form="ngForm" (submit)="onSubmit(form)" [class.submitted]="service.formSubmitted" novalidate autocomplete="off" >
        <input type="hidden" name="id" [value]="service.formData.id">
        <div class="form-group form-group-inline">
          <div class="form-item">
              <label for="nom">Nom</label>
              <input type="text" class="form-control form-control-lg" #nom="ngModel" 
              name="nom" [(ngModel)]="service.formData.nom" required>
          </div>
          <div class="form-item">
              <label for="prenom">Prenom</label>
              <input type="text" class="form-control form-control-lg" #prenom="ngModel"
               name="prenom" [(ngModel)]="service.formData.prenom" required>
          </div>
        </div>
        <div class="form-group">
          <label for="prenom">Numero De Carte</label>
          <input type="text" class="form-control form-control-lg" #numDeCarte="ngModel" 
          name="numDeCarte" [(ngModel)]="service.formData.numDeCarte" required>
        </div>
        <div class="form-group">
          <label for="prenom">Numero De Cin</label>
          <input type="text" class="form-control form-control-lg" #numCin="ngModel" 
          name="numCin" [(ngModel)]="service.formData.numCin" required>
        </div>
        <div class="form-group">
          <label for="prenom">Date De Naissance</label>
          <input type="date" class="form-control form-control-lg" #dateDeNaissance="ngModel" 
          name="dateDeNaissance" [(ngModel)]="service.formData.dateDeNaissance" required>
        </div>
        <div class="form-group">
          <label for="prenom">GSM</label>
          <input type="text" class="form-control form-control-lg" #gsm="ngModel" 
          name="gsm" [(ngModel)]="service.formData.gsm" required>
        </div>
        <div class="form-group">
          <label for="prenom">Email</label>
          <input type="email" class="form-control form-control-lg" #email="ngModel" 
          name="email" [(ngModel)]="service.formData.email" required placeholder="user@example.com">
        </div>
        <button class="form-submit-btn" type="submit">ENREGISTRER</button>
      </form>
    
  </div>
  
  <div *ngIf="showForm2">
    <div>
      <input type="file" (change)="onFileSelected($event)" accept=".csv" />
    </div>

			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap" *ngIf="csvData.length > 0">
            <table class="table table-bordered table-dark table-hover">
              <thead>
                <tr>
                  <th *ngFor="let header of csvHeaders">{{ header }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of csvData">
                  <td *ngFor="let header of csvHeaders">{{ row[header] }}</td>
                </tr>
              </tbody>
            </table>
            <button (click)="uploadData()">Upload Data</button>
          </div>
				</div>
			</div>
  </div>
</div>
  